@font-face {
  font-family: "ZXFQCT";
  src: url("/fonts/ZIXINFANGQINGCHUNTI-2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#app {
  width: 1080px;
  height: 1920px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "ZXFQCT";
}

.not-clicked {
  animation: resize 1s linear infinite;
}

@keyframes resize {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
