@font-face {
  font-family: "ZXFQCT";
  src: url("/fonts/ZIXINFANGQINGCHUNTI-2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#app {
  width: 1080px;
  height: 1920px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "ZXFQCT";
}
